// colors
$red: hsl(0, 100%, 74%) ;
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$darkBlue: hsl(249, 10%, 26%) ;
$grayishblue: hsl(248, 32%, 49%);

$fs: 1rem;//font-size
$fw: 400, 500, 600, 700;//font-weight
$ff: 'Poppins', sans-serif;//font-familly

$bs: 0px 5px 1px rgba(0, 0, 0, 0.4);//box Shadows